/*
Colours used:
Primary Colour Colour (Yellow):#EDC97B;
Secondary Colour (Gray):#939393;
Tertiary Colour (Dark Gray):#939393;
*/
/* Layout Styling */
* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.2;
  /* Sets the line-height to 1.2  * the font-size */
  color: #393939;
}

header {
  background-color: #FAF6F4;
  text-align: center;
  padding: 10px;
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}

#hero {
  background-color: #FAF6F4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  margin: 0;
  padding: 0.67em
  text-align: center;
}

h1, h2, h3 {
  line-height: 1.2
}

h1 {
  font-size: 2.50em;
  font-weight: 700
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.50em font-weight: 400;
}

h4 {
  font-size: 1em font-weight: 400;
}

img {
  width: 100%;
}

a {
  colour: #939393;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visted link */
  color: #5A5A5A
}

a:hover,
a:focus {
  color: #EDC97B;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  / color: #FFE3A5
}

.logo {
  max-width: 250px;
}

nav {
  display: inline-block;
  width: 100%
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FAF6F4;
}
nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #EDC97B;
}

nav > ul > li > a:active {
  text decoration: underline;
}

nav > ul > li > a:visited {
  color: #5A5A5A;
}

.button {
  display: inline-block;
  background-color: #939393;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #D6D2D1;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8%;
  text-decoration: none;
}

.button:active {
  color: #939393;
}

.button.contact {
  background colour: transparent;
  color: #EDC97B;
  text-transform: uppercase;
  border: 2x solid #EDC97B;
}

.button.contact {
  background-color: #EDC97B color: #ffffff
}
