/*
Colours used:
Primary Colour Colour (Yellow):#EDC97B;
Secondary Colour (Gray):#939393;
Tertiary Colour (Dark Gray):#939393;
*/
/* Layout Styling */
* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

.row:after {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
  margin: 25px 0;
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.2;
  /* Sets the line-height to 1.2  * the font-size */
  color: #393939;
}

header {
  background-color: #FAF6F4;
  text-align: center;
  padding: 10px;
  box-shadow:  4px 4px 16px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}

#hero {
  background-color: #FAF6F4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero h1 {
  margin: 0;
  padding: 0.67em
  text-align: center;
}

h1, h2, h3 {
  line-height: 1.2
}

h1 {
  font-size: 2.50em;
  font-weight: 700
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.50em font-weight: 400;
}

h4 {
  font-size: 1em font-weight: 400;
}

img {
  width: 100%;
}

.profileimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 40s cloud-move-reverse infinite alternate linear;
}

a {
  colour: #939393;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visted link */
  color: #5A5A5A
}

a:hover,
a:focus {
  color: #EDC97B;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  / color: #FFE3A5
}

.logo {
  max-width: 150px;
}

.icon {
  max-width: 50px
}

nav {
  display: inline-block;
  width: 100%
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #939393;
}
nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #EDC97B;
}

nav > ul > li > a:active {
  text decoration: underline;
}

nav > ul > li > a:visited {
  color: #5A5A5A;
}

.clr{
  clear:both;
}

.button {
  display: inline-block;
  background-color: transparent;
  color: #939393;
  font-weight: 400;
  padding: 10px;
  border: none;
  text-align: center;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  background-color: #EDC97B;
  color: #939393;
  background-size: 100%;
}

.button:active {
  color: #939393;
}

.button.contact {
  background color: transparent;
  color: #939393;
  text-transform: uppercase;
  border: none;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #EDC97B;
  color: #939393;
}

.button.contact:active {
  background-color: #EDC97B;
  color: #939393;
  text-decoration: underline;
}

/* ==============================
Medium devices (640px and larger)
================================= */
header {
  text-align: unset;
  padding: 20 0 13px;
}

nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

#about-page h3 { margin-top: 0;}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

.col-lg-7 {
  width: 58.33%;
}

.col-lg-5 {
 width: 41.66%;
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
